---

const merchantId = 5813096073;

---
<section>
    <script id='merchantWidgetScript' src="https://www.gstatic.com/shopping/merchant/merchantwidget.js" defer></script>
    <script>
        merchantWidgetScript.addEventListener('load', function () {
        merchantwidget.start({
            // REQUIRED FIELDS
            merchant_id: 5813096073,
        });
        });
    </script>
</section>